.page-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.page {
    background-color: #AAAAAA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    background-color: #50c878;
    font-size: 2em;
    margin: 5vh;
}

.input {
    font-size: 2em;
}

.h1 {
    text-align: center;
}

.h2 {
    color: red;
}